<cll-page-container [title]="'pickBy & omitBy'" class="space-y-9">
  <section class="space-y-6">
    <h2>pickBy</h2>
    <p>Create an object composed of object properties that satisfy a given condition.</p>

    <app-code-block [code]="pickByCode" />
  </section>

  <section class="space-y-6">
    <h2>omitBy</h2>
    <p>
      <code>omitBy</code> is the opposite of <code>pickBy</code>, which create an object composed of object properties
      that do not satisfy a given condition.
    </p>

    <app-code-block [code]="omitByCode" />
  </section>
</cll-page-container>
