<div class="container mx-auto py-5 px-10 md:px-14">
  <h2 class="!text-5xl !my-5 h-10">Welcome to ngx-extension!</h2>

  <main>
    <section>
      <p>
        Welcome to review ngx-extension demos! This project has been crafted with the goal of enhancing and simplifying
        your Angular development experience. In the dynamic landscape of web development, Angular stands out as a robust
        framework, and ngx-extension complements it by offering a collection of utilities, operators, and components.
      </p>
    </section>

    <section>
      <h2>Key Objectives</h2>
      <p>
        <strong>Utility Enhancement:</strong> ngx-extension strives to provide a set of utilities that streamline common
        Angular development tasks. These utilities are designed to boost your productivity and efficiency.
      </p>

      <p>
        <strong>Operator Support:</strong> The project includes a range of operators that can be seamlessly integrated
        into your Angular applications. These operators aim to simplify complex operations and promote cleaner, more
        maintainable code.
      </p>

      <p>
        <strong>Component Repository:</strong> ngx-extension comes bundled with a collection of reusable components.
        These components are crafted with best practices in mind, allowing you to effortlessly integrate them into your
        projects and focus on building outstanding user interfaces.
      </p>
    </section>

    <section>
      <h2>Why Choose ngx-extension?</h2>
      <p>
        <strong>Simplified Development:</strong> Our project is dedicated to simplifying the Angular development
        process, empowering developers to build robust applications with ease.
      </p>

      <p>
        <strong>Community-Driven:</strong> ngx-extension is an open-source project, and we welcome contributions from
        the community. Join us in shaping the future of Angular development tools.
      </p>

      <p>
        <strong>Continuous Improvement:</strong> We are committed to continuous improvement and aim to adapt to the
        evolving needs of the Angular ecosystem. Your feedback and contributions are invaluable in this journey.
      </p>
    </section>

    <section>
      <h2>Getting Started</h2>
      <p>
        To explore the capabilities of ngx-extension, head over to our GitHub repository:
        <a href="https://github.com/wghglory/ngx-extension" target="_blank">https://github.com/wghglory/ngx-extension</a
        >. Clone the repository, check out the demos, and discover how ngx-extension can elevate your Angular
        development workflow.
      </p>

      <p>
        Thank you for considering ngx-extension for your Angular projects. We look forward to your involvement and
        feedback as we collectively strive to enhance the Angular development experience.
      </p>

      <p>Happy coding!</p>
    </section>
  </main>
</div>
