<clr-main-container>
  <clr-header>
    <div class="branding">
      <a class="nav-link" routerLink="/"><span class="title">Angular Extension</span></a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
      <a class="nav-link" routerLink="/ngx-lift" routerLinkActive="active">
        <span class="nav-text">ngx-lift</span>
      </a>
      <a class="nav-link" routerLink="/clr-lift" routerLinkActive="active">
        <span class="nav-text">clr-lift</span>
      </a>
    </div>
    <div class="header-actions">
      <clx-theme-toggle (changeTheme)="onThemeChange($event)" lang="en" />
    </div>
  </clr-header>

  <div class="content-container">
    <main class="content-area">
      <router-outlet></router-outlet>
    </main>

    <app-vertical-nav />
  </div>
</clr-main-container>

<clx-toast-container [timeoutSeconds]="8" />
