<clr-main-container>
  <clr-header>
    <div class="branding">
      <a class="nav-link" routerLink="/"><span class="title">Ngx Extension</span></a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
      <!-- <a class="nav-link" routerLink="/" routerLinkActive="active"><span class="nav-text">Home</span></a> -->
    </div>
  </clr-header>

  <div class="content-container">
    <main class="content-area">
      <router-outlet></router-outlet>
    </main>
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" [clr-nav-level]="2">
      <a clrVerticalNavLink routerLink="/createAsyncState" routerLinkActive="active">createAsyncState</a>
      <a clrVerticalNavLink routerLink="/switchMapWithAsyncState" routerLinkActive="active">
        switchMapWithAsyncState
      </a>
      <a clrVerticalNavLink routerLink="/datagrid" routerLinkActive="active">Clarity Datagrid</a>
      <!-- <div class="nav-divider"></div> -->
    </clr-vertical-nav>
  </div>
</clr-main-container>
