<div class="main-container">
  <header class="header-6">
    <div class="branding">
      <a class="nav-link" routerLink="/"> <h1 cds-text class="title">Ngx Extension</h1></a>
    </div>
    <div class="header-nav">
      <!-- <a class="nav-link" routerLink="/" routerLinkActive="active"><span class="nav-text">Home</span></a> -->
    </div>
  </header>

  <div class="content-container">
    <clr-vertical-nav>
      <a clrVerticalNavLink routerLink="/createAsyncState" routerLinkActive="active">createAsyncState</a>
      <a clrVerticalNavLink routerLink="/switchMapWithAsyncState" routerLinkActive="active">switchMapWithAsyncState</a>
      <a clrVerticalNavLink routerLink="/datagrid" routerLinkActive="active">Clarity Datagrid</a>
      <!-- <div class="nav-divider"></div> -->
    </clr-vertical-nav>
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
