<clr-vertical-nav [clrVerticalNavCollapsible]="true" [clr-nav-level]="2">
  @for (data of navigationData(); track data.value) {
    <clr-vertical-nav-group routerLinkActive="active">
      <cds-icon [attr.shape]="data.icon" clrVerticalNavIcon />
      {{ data.value }}
      <clr-vertical-nav-group-children>
        @for (child of data.children; track child.value) {
          <a clrVerticalNavLink [routerLink]="data.path + child.path" routerLinkActive="active">
            {{ child.value }}
          </a>
        }
      </clr-vertical-nav-group-children>
    </clr-vertical-nav-group>
  }

  <!-- <div class="nav-divider"></div> -->
</clr-vertical-nav>
