<cll-page-container title="poll" class="space-y-9">
  <section class="space-y-6">
    <p>
      In modern web applications, it's common to interact with APIs to fetch data, and sometimes, we need to
      continuously <code>poll</code> these APIs to keep our data up-to-date. While there are various ways to implement
      polling mechanisms, leveraging the power of Reactive Programming can offer an elegant and efficient solution.
      Hence, the <code>poll</code> operator, a handy tool in RxJS for simplifying the process of polling APIs comes to
      play.
    </p>

    <p>
      The <code>poll</code> operator is a custom operator built on top of RxJS, a powerful library for reactive
      programming in JavaScript. It allows developers to create observables that periodically emit data at specified
      intervals.
    </p>

    <ul class="list-disc">
      <li>
        <strong>Simplicity</strong>: It abstracts away the complexity of managing polling intervals and API requests.
      </li>
      <li>
        <strong>Flexibility</strong>: Developers can customize parameters, such as polling intervals and request
        payloads, to suit their application's needs.
      </li>
      <li>
        <strong>Reactivity</strong>: It seamlessly integrates with other RxJS operators, enabling developers to build
        reactive pipelines for handling data streams.
      </li>
    </ul>

    <h2>Usage</h2>

    <p>
      <code>poll</code> operator is especially handy when fetching data periodically from an API endpoint. This is
      useful for scenarios where real-time updates are required but the server does not support push notifications.
    </p>
    <p>
      By default, the <code>poll</code> operator starts polling immediately. Please refer to
      <button class="btn btn-sm btn-link !normal-case !p-0" (click)="scrollToElement(deferPolling)">
        Defer Polling
      </button>
      section if you'd like to start polling after an action.
    </p>

    <p>The <code>poll</code> operator takes an options object containing essential parameters:</p>

    <ul class="list-disc">
      <li>
        <code>pollingFn</code>: A function to be executed periodically, that returns an
        <strong>Observable, Promise or a primitive value</strong>.
      </li>
      <li><code>interval</code>: The interval in milliseconds between each poll.</li>
      <li><code>paramsBuilder</code>: An optional function that builds parameters for the polling function.</li>
      <li>
        <code>forceRefresh</code>: An optional <strong>Observable or Signal</strong> that forces an immediate execution
        of the <code>pollingFn</code> function when emitted.
      </li>
      <li>
        <code>initialValue</code>: An optional value as the initial value of the poll results. You can use it if you
        don't want to display a <code>loading: true</code> state.
      </li>
    </ul>
  </section>

  <section class="space-y-6">
    <h2>Example</h2>

    <h3>Poll with different types of polling function</h3>
    <p>Polling function supports Promise, Observable, or primitive value.</p>
    <app-code-block [code]="simpleCode" />

    <h3>Poll Until Condition is Met</h3>
    <p>Poll every 1 second until the output is greater than 8.</p>
    <app-code-block [code]="pollingTakeWhileCode" />
    <cll-callout>You can add <code>takeUntil, takeWhile</code> to end the polling as your need.</cll-callout>

    <h3>Poll with initialValue</h3>
    <p>
      By default the poll initial result is <code>&#123;loading: true, error: null, data: null&#125;</code>. It's
      convenient to display a spinner since loading is true. However, in some cases, you may not want to display a
      loading spinner. You can set <code>initialValue</code> to any value you want.
    </p>
    <app-code-block [code]="pollingInitialValue" />

    <h3 #deferPolling>Start Polling After an Action (Defer polling)</h3>
    <p>
      By default, the polling immediately starts. Sometime you may want to start the polling after an action.
      <code>poll</code> operator can work with other RxJS operators to achieve this.
    </p>
    <app-code-block [code]="deferPollingCode" />
    <button class="btn btn-primary" (click)="start()">Start Polling (See Console)</button>

    <h2>Advanced Usage</h2>

    <ul class="list-disc space-y-3">
      <li>
        <strong>Force Refresh</strong>: Use the <code>forceRefresh</code> observable or signal to trigger the execution
        of <code>pollingFn</code> whenever necessary, such as in response to user actions. The emitted value from
        <code>forceRefresh</code> will be passed as the input to <code>paramsBuilder</code>, if provided; otherwise, it
        goes directly to <code>pollingFn</code>.
      </li>
      <li>
        <strong>Custom Parameters</strong>: Customize parameters by providing a <code>paramsBuilder</code> function,
        which is especially useful when the <code>forceRefresh</code> value does not match the structure of
        <code>pollingFn</code> parameters. This function allows you to transform the input, ensuring it meets the
        specific requirements of <code>pollingFn</code>.
      </li>
    </ul>

    <h3>Advanced Example</h3>
    <p>
      The datagrid below will automatically refresh every 10 seconds. Additionally, whenever there's a change in the
      input, triggering filtering, sorting, or pagination, the API will be promptly called, accompanied by a spinner
      indicating loading.
    </p>

    <form clrForm>
      <clr-input-container>
        <label>Search by First Name</label>
        <input type="text" clrInput name="firstName" (input)="searchByFirstName($any($event.target).value)" />
      </clr-input-container>
    </form>

    <clr-datagrid
      class="min-h-[200px]"
      (clrDgRefresh)="refresh($event)"
      [clrDgLoading]="(usersState$ | async)?.loading === true"
      [(clrDgSingleSelected)]="selectedItem"
    >
      <clr-dg-column [clrDgField]="'firstName'">First Name</clr-dg-column>
      <clr-dg-column [clrDgField]="'lastName'">Last Name</clr-dg-column>
      <clr-dg-column [clrDgField]="'email'">Email</clr-dg-column>
      <clr-dg-column [clrDgField]="'gender'">Gender</clr-dg-column>

      <clr-dg-placeholder>No data found</clr-dg-placeholder>

      @for (user of (usersState$ | async)?.data?.results; track user.id.value) {
        <clr-dg-row [clrDgItem]="user">
          <clr-dg-cell>{{ user.name.first }}</clr-dg-cell>
          <clr-dg-cell>{{ user.name.last }}</clr-dg-cell>
          <clr-dg-cell>{{ user.email }}</clr-dg-cell>
          <clr-dg-cell>{{ user.gender }}</clr-dg-cell>
        </clr-dg-row>
      }

      <clr-dg-footer>
        @if (total$ | async) {
          {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of {{ total$ | async }} items
        } @else {
          No items
        }
        <clr-dg-pagination #pagination [clrDgPageSize]="10" [clrDgTotalItems]="(total$ | async) || 0" />
      </clr-dg-footer>
    </clr-datagrid>

    @if ((usersState$ | async)?.error; as error) {
      <cll-alert [error]="error" class="mb-4" />
    }

    <app-code-block [code]="advancedCode" />

    <!--
Another approach:

@if ({usersState: usersState$ | async, total: total$ | async}; as vm) {
  <div>
    <button class="btn btn-outline" (click)="userService.refreshList()" [disabled]="vm.usersState?.loading">
      Refresh
    </button>
  </div>

  <clr-datagrid
    class="min-h-[200px]"
    (clrDgRefresh)="refresh($event)"
    [clrDgLoading]="vm.usersState?.loading === true"
    [(clrDgSingleSelected)]="selectedItem"
  >
    <clr-dg-column [clrDgField]="'firstName'">First Name</clr-dg-column>
    <clr-dg-column [clrDgField]="'lastName'">Last Name</clr-dg-column>
    <clr-dg-column [clrDgField]="'email'">Email</clr-dg-column>
    <clr-dg-column [clrDgField]="'gender'">Gender</clr-dg-column>

    <clr-dg-placeholder>No data found</clr-dg-placeholder>

    @for (user of vm.usersState?.data?.results; track user.id.value) {
      <clr-dg-row [clrDgItem]="user">
        <clr-dg-cell>{{ user.name.first }}</clr-dg-cell>
        <clr-dg-cell>{{ user.name.last }}</clr-dg-cell>
        <clr-dg-cell>{{ user.email }}</clr-dg-cell>
        <clr-dg-cell>{{ user.gender }}</clr-dg-cell>
      </clr-dg-row>
    }

    <clr-dg-footer>
      @if (!vm.total) {
        No items
      } @else {
        {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of {{ vm.total }} items
      }
      <clr-dg-pagination #pagination [clrDgPageSize]="10" [clrDgTotalItems]="vm.total || 0" />
    </clr-dg-footer>
  </clr-datagrid>

  @if (vm.usersState?.error; as error) {
    <cll-alert [error]="error" class="mb-4" />
  }
} -->
  </section>
</cll-page-container>
