<cll-page-container [title]="'differenceInDays'" class="space-y-9">
  <section class="space-y-6">
    <h2>Overview</h2>
    <p>
      With the <code>differenceInDays</code> utility function, handling date calculations in JavaScript becomes
      effortless. This function simplifies the process by requiring just two parameters. The first parameter represents
      the reference date from which the difference is measured. It accepts <code>Date</code> objects, numbers
      representing milliseconds since the Unix epoch, or strings parseable by the <code>Date</code> constructor.
      Similarly, the second parameter denotes the date to be compared against the reference date, accepting the same
      types of inputs.
    </p>

    <app-code-block [code]="exampleCode" />
  </section>
</cll-page-container>
