<cll-page-container title="Alert" class="space-y-9">
  <section class="space-y-3">
    <p>
      Alerts are banners that draw the user's attention to an important message. Elements of an alert, such as icons and
      color, indicate the type and urgency of the message's information.
    </p>

    <h2>Usage</h2>
    <p>Use alerts to grab the user's attention to provide critical information needed in context.</p>

    <p>The <code>&lt;cll-alert /&gt;</code> component provides optional inputs, including:</p>

    <ul class="list-disc">
      <li>
        <code>alertType</code>: "info", "warning", "success", "danger", "neutral", "loading" and "unknown". Defaulting
        to &quot;danger&quot;
      </li>
      <li><code>isAppLevel</code>: defaulting to false. If you want to display a app-level alert, set true</li>
      <li><code>isSmall</code>: defaulting to false</li>
      <li><code>isLightweight</code>: defaulting to false. Used to display a lightweight alert</li>
      <li><code>error</code>: type of HttpErrorResponse</li>
      <li><code>content</code>: type of string.</li>
    </ul>
  </section>

  <section>
    <h2>Types</h2>
    <p>There are 3 types of alerts: Standard, Lightweight and App-level.</p>

    <section class="space-y-4">
      <h3>Standard Alerts</h3>
      <p>Use standard alerts for messages that reflect the context of where the user is in the application.</p>
      <cll-alert [error]="error" />
      <cll-alert alertType="success" content="I'm a successful content" />
      <cll-alert alertType="info" content="I'm a info content" />
      <cll-alert alertType="warning" content="I'm a warning content" />
      <app-code-block [code]="standardAlertsCode" lang="html" />

      <p>Small Alert:</p>
      <cll-alert alertType="danger" content="I'm a small alert" [isSmall]="true" />
      <app-code-block [code]="standardSmallAlertCode" lang="html" />
    </section>

    <section class="space-y-4">
      <h3>Lightweight Alerts</h3>
      <p>Use lightweight alerts inside containers, other components and layouts.</p>
      <cll-alert [isLightweight]="true" [error]="error" />
      <cll-alert [isLightweight]="true" alertType="success" content="I'm a successful content" />
      <cll-alert [isLightweight]="true" alertType="info" content="I'm a info content" />
      <cll-alert [isLightweight]="true" alertType="warning" content="I'm a warning content" />
      <cll-alert [isLightweight]="true" alertType="neutral" content="I'm a neutral content" />
      <cll-alert [isLightweight]="true" alertType="loading" content="I'm a loading content" />
      <cll-alert [isLightweight]="true" alertType="unknown" content="I'm a unknown content" />
      <app-code-block [code]="lightweightAlertsCode" lang="html" />
    </section>

    <section class="space-y-4">
      <h3>App-Level Alerts</h3>
      <p>
        Use app-level alerts in the global context of an application. Place them at the top of all content and
        navigation.
      </p>

      <cll-alert [error]="error" [isAppLevel]="true" />
      <cll-alert
        alertType="success"
        content="I'm a successful content &nbsp; <a href='javascript:void(0)' class='btn btn-inverse btn-sm'>View</a>"
        [isAppLevel]="true"
      />
      <cll-alert alertType="info" content="I'm a info content" [isAppLevel]="true" />
      <cll-alert alertType="warning" content="I'm a warning content" [isAppLevel]="true" />
      <app-code-block [code]="appLevelAlertsCode" lang="html" />
    </section>
  </section>
</cll-page-container>
