<cll-page-container [title]="'createNotifier'" class="space-y-9">
  <section class="space-y-6">
    <p>
      <code>createNotifier</code> offers a means to manually initiate signal re-computations through referencing the
      created notifier signal. Its functionality mirrors that of RxJS Subject. With each event, you can alert the
      subject through its next method. Likewise, employing <code>createNotifier</code> is convenient for manually
      instigating a "refresh" and responding to it in a signal-oriented manner.
    </p>

    <p>
      To initiate the signal update, simply call <code>refreshNotifier.notify()</code>. Subsequently, you can prompt the
      re-computation of any <code>computed</code> or <code>effect</code> (including <code>computedAsync</code> from
      ngx-lift) by accessing the signal returned upon listening.
    </p>

    <button class="btn btn-primary" (click)="refresh()">See Console Log</button>

    <app-code-block [code]="notifierCode" />

    <cll-callout>
      Initially, <code>refreshNotifier.listen()</code> returns 0. Whenever notify is explicitly called, the value adds
      1.
    </cll-callout>
  </section>
</cll-page-container>
