<cll-page-container [title]="'Key Value Inputs'" class="space-y-9">
  <section class="space-y-6">
    <p>
      The <code>KeyValueInputsComponent</code> is an Angular component designed to facilitate the input of key-value
      pairs. It provides a dynamic form allowing users to add, edit, and remove key-value pairs. This component is built
      using Angular, Clarity Design System, and ngx-lift.
    </p>

    <h2>Features</h2>
    <ul class="list-disc">
      <li>
        <strong>Dynamic Form Array:</strong> Empowers users to effortlessly manage multiple key-value pairs through the
        use of an Angular FormArray.
      </li>
      <li>
        <strong>Real-time Validation:</strong> Provides real-time validation for key and value inputs, including
        required field validation and uniqueness validation (if configured).
      </li>
      <li>
        <strong>Intuitive Control:</strong> Ensures user-friendly interactions by dynamically disabling the "Add New
        Controls" button if any key-value pair is deemed invalid. This feature enhances the overall usability and
        prevents the addition of incomplete or incorrect data to the form.
      </li>
    </ul>

    <cll-callout>
      Explore how the <code>KeyValueInputsComponent</code> leverages the <code>UniqueValidator</code> to perform
      validation against key controls.
      <a [routerLink]="['/ngx-lift/validators/unique']">
        Click here to gain insights into the implementation and utilization of the <code>UniqueValidator</code> for
        ensuring uniqueness in the key input fields within the component.
      </a>
    </cll-callout>
  </section>

  <section class="space-y-6">
    <h2>Usage</h2>
    <app-code-block [code]="exampleCode" />

    <h3>Inputs</h3>
    <ul class="list-disc">
      <li><strong>formArray:</strong> An Angular FormArray that holds the key-value pairs.</li>
      <li><strong>data (optional):</strong> Initial data to pre-populate the form with existing key-value pairs.</li>
      <li><strong>uniqueKey (optional):</strong> Set to <code>true</code>(default) to enable unique key validation.</li>
      <li><strong>keyHelper (optional):</strong> Helper text for the key input field.</li>
      <li><strong>valueHelper (optional):</strong> Helper text for the value input field.</li>
      <li><strong>addText (optional):</strong> Text for the &quot;Add Key-Value Pair&quot; button.</li>
      <li><strong>inputSize (optional):</strong> Size of the input fields.</li>
      <li>
        <strong>isSmallButton (optional):</strong> Set to <code>true</code> to use a small button for adding key-value
        pairs.
      </li>
    </ul>

    <h3>Outputs</h3>
    <ul class="list-disc">
      <li>
        <strong>removeKeyValue:</strong> Event emitted when a key-value pair is removed. Provides the index of the
        removed pair.
      </li>
      <li><strong>addKeyValue:</strong> Event emitted when a new key-value pair is added.</li>
    </ul>
  </section>

  <form clrForm [formGroup]="form">
    <cll-key-value-inputs
      [formArray]="form.controls.appProperties"
      [inputSize]="30"
      [data]="data"
      [uniqueKey]="false"
      keyHelper="run time property key"
      valueHelper="run time property value"
      addText="add key value"
    />
  </form>

  <p>Your form value output:</p>
  <app-code-block [code]="form.value | json" lang="json" />
</cll-page-container>
