<clx-page-container title="Welcome to clr-extension" class="space-y-9">
  <section>
    <p>
      The <strong>clr-extension</strong> library is designed to augment the capabilities of the Clarity library by
      providing a set of reusable components built on top of clarity components, and powerful collection of utilities,
      operators.
    </p>
  </section>

  <section>
    <h2>Features</h2>
    <h3>Operators</h3>
    <p>
      <strong>clr-extension</strong> introduces powerful operators, such as <code>dgState</code>, designed to amplify
      the functionality of the Clarity library. The <code>dgState</code> operator streamlines datagrid state management,
      offering developers an intuitive and efficient approach when working with Clarity datagrids.
    </p>
    <h3>Utilities</h3>
    <p>
      Our library includes a suite of utilities finely tuned for Clarity components. These utilities simplify common
      tasks and operations, providing developers with a seamless and cohesive experience when interacting with Clarity
      components.
    </p>
    <h3>Components</h3>
    <p>
      <strong>clr-extension</strong> offers a variety of custom components adhering to Clarity styling standards,
      including toast, alert, and more.
    </p>
  </section>

  <section class="space-y-6">
    <h2>Getting Started</h2>
    <h3>Installation</h3>
    <p>
      To use <strong>clr-extension</strong> in your project, you can install it using your preferred package manager.
      For example, with npm:
    </p>
    <app-code-block [code]="'npm install clr-extension'" lang="shell" />
  </section>

  <section>
    <h2>Contributing</h2>
    <p>
      We welcome contributions to the <strong>clr-extension</strong> library. If you encounter any issues, have feature
      requests, or would like to contribute code, please check out our
      <a href="https://github.com/wghglory/ngx-extension/CONTRIBUTING.md">contribution guidelines</a>.
    </p>
    <h2>License</h2>
    <p><strong>clr-extension</strong> is licensed under the MIT License.</p>
    <h2>Acknowledgments</h2>
    <p>
      We would like to express our gratitude to the Clarity library maintainers and contributors for their foundational
      work that enables the development of <strong>clr-extension</strong>. Feel free to explore the
      <strong>clr-extension</strong> library and enhance your Clarity datagrid implementation with ease! If you have any
      questions or concerns, please don&#39;t hesitate to reach out to us. Happy coding!
    </p>
  </section>
</clx-page-container>
