<clx-page-container title="Multi Alerts" class="space-y-9">
  <section class="space-y-6">
    <p>
      Frequently, there is a need to showcase multiple alerts, particularly those at the application level positioned at
      the top. The clr-extension offers two highly beneficial components for this purpose: AlertsComponent and
      AlertsService.
    </p>

    <h2>Usage</h2>

    <h3>Basic Usage</h3>

    <ol class="list-decimal">
      <li>
        Import <code>AlertsComponent</code> and include <code>&lt;clx-alerts&gt;</code> above the Clarity header tag
        within the main container.
      </li>
      <li>
        Import <code>AlertsService</code> and utilize its <code>addAlert()</code>, <code>deleteAlert()</code>, or
        <code>clearAlerts()</code> methods for effective management of alerts.
      </li>
    </ol>

    <app-code-block [code]="htmlCode" lang="html" />

    <p>
      To implement an alert, utilize the following code structure. The <code>addAlert</code> function accepts an object
      where the <code>content</code> field is mandatory, representing the alert content in string format. Optionally,
      you can include other properties such as <code>alertType</code> to specify the type of alert and specify whether
      it is an application-level alert by <code>isAppLevel</code>.
    </p>
    <app-code-block [code]="tsCode" />

    <h3>Advanced Usage</h3>
    <p>
      In certain scenarios, you may want to include a button or link within an alert's content. To handle button clicks
      or navigate to an internal route through link clicks, you can use the <code>onTargetClick</code> and
      <code>targetSelector</code> properties. The <code>targetSelector</code> represents the selector of the clickable
      element (ID, class, etc.), and the <code>onTargetClick</code> specifies the function to be executed upon clicking
      the element.
    </p>
    <app-code-block [code]="advancedCode" />
  </section>

  <section class="space-y-6">
    <h2>Interactive UI</h2>
    <clx-alerts />
    <button class="btn btn-outline" (click)="addAlert()">Add Alert</button>
    <button class="btn btn-outline" (click)="clearAlerts()">Clear All Alerts</button>
  </section>
</clx-page-container>
