<clr-radio-container clrInline>
  <label>Select gender to load users</label>
  <clr-radio-wrapper>
    <input type="radio" clrRadio name="gender" value="male" [formControl]="genderControl" />
    <label>Male</label>
  </clr-radio-wrapper>
  <clr-radio-wrapper>
    <input type="radio" clrRadio name="gender" value="female" [formControl]="genderControl" />
    <label>Female</label>
  </clr-radio-wrapper>
</clr-radio-container>

@if (searchState$ | async; as vm) {
  <div class="mt-6 min-h-[286px]">
    @if (vm.loading) {
      <cll-spinner />
    }
    @if (vm.error; as error) {
      <cll-alert [error]="error" />
    }
    @if (vm.data; as users) {
      <div class="card-grid">
        @for (user of users.results; track user) {
          <app-user-card [user]="user" />
        }
      </div>
    }
  </div>
}
