<clx-page-container [title]="'Action Stream Switching to Another by <code>switchMapWithAsyncState</code>'">
  <clr-radio-container clrInline>
    <label>Select Gender</label>
    <clr-radio-wrapper>
      <input type="radio" clrRadio name="gender" required value="male" [formControl]="genderControl" />
      <label>Male</label>
    </clr-radio-wrapper>
    <clr-radio-wrapper>
      <input type="radio" clrRadio name="gender" required value="female" [formControl]="genderControl" />
      <label>Female</label>
    </clr-radio-wrapper>
  </clr-radio-container>

  <div class="mt-6" *ngIf="searchState$ | async as vm">
    <clx-spinner *ngIf="vm.loading" />
    <clx-alert *ngIf="vm.error as error" [error]="error" />

    <div *ngIf="vm.data as users" class="card-grid">
      <app-user-card [user]="user" *ngFor="let user of users" />
    </div>
  </div>
</clx-page-container>
