<clx-page-container [title]="'Action Stream Switching to Another by <code>switchMapWithAsyncState</code>'">
  <clr-radio-container clrInline>
    <label>Select Gender</label>
    <clr-radio-wrapper>
      <input type="radio" clrRadio name="gender" required value="male" [formControl]="genderControl" />
      <label>Male</label>
    </clr-radio-wrapper>
    <clr-radio-wrapper>
      <input type="radio" clrRadio name="gender" required value="female" [formControl]="genderControl" />
      <label>Female</label>
    </clr-radio-wrapper>
  </clr-radio-container>

  <div class="mt-6" *ngIf="searchState$ | async as vm">
    <clx-spinner *ngIf="vm.loading" />
    <clx-alert *ngIf="vm.error as error" [error]="error" />

    <div *ngIf="vm.data as users" class="grid md:grid-cols-2 lg:grid-cols-3 gap-5">
      <div class="card !mt-0" *ngFor="let user of users">
        <div class="card-block flex gap-5">
          <img [src]="user.picture.thumbnail" />
          <dl class="grid grid-cols-2">
            <dt class="font-medium">Name</dt>
            <dd>{{ user.name.first }} {{ user.name.last }}</dd>
            <dt class="font-medium">Gender</dt>
            <dd>{{ user.gender }}</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</clx-page-container>
