<clx-page-container title="switchMapWithAsyncState" class="space-y-9">
  <p>
    We frequently find ourselves needing to initiate an API request upon a user's button click. How do we seamlessly
    transition from one stream to another? <code>switchMapWithAsyncState</code> is ideally suited for this scenario,
    seamlessly incorporating both the functionality of the switchMap operator and the creation of an
    <code>AsyncState</code> structure to encapsulate your API response. It effectively acts as a switchMap operator
    while simultaneously implementing the creation of an <code>AsyncState</code> through its
    <code>createAsyncState</code> capability.
  </p>

  <section class="space-y-6">
    <h2>Example Code</h2>

    <app-code-block [code]="exampleCode" />

    <clr-radio-container clrInline>
      <label>Select Gender</label>
      <clr-radio-wrapper>
        <input type="radio" clrRadio name="gender" required value="male" [formControl]="genderControl" />
        <label>Male</label>
      </clr-radio-wrapper>
      <clr-radio-wrapper>
        <input type="radio" clrRadio name="gender" required value="female" [formControl]="genderControl" />
        <label>Female</label>
      </clr-radio-wrapper>
    </clr-radio-container>

    <div class="mt-6 min-h-[286px]" *ngIf="searchState$ | async as vm">
      <clx-spinner *ngIf="vm.loading" />
      <clx-alert *ngIf="vm.error as error" [error]="error" />

      <div *ngIf="vm.data as users" class="card-grid">
        <app-user-card [user]="user" *ngFor="let user of users" />
      </div>
    </div>
  </section>
</clx-page-container>
