<cll-page-container [title]="'combineFrom'" class="space-y-9">
  <section class="space-y-6">
    <p>
      combineFrom is a utility function that takes an array or object of Observables or Signals and produces a Signal
      that emits the aggregated value from these sources. This function operates akin to combineLatest, yet it extends
      its functionality to include Signals in the amalgamation process. Normally, it requires invocation within an
      injection context. However, it offers the flexibility to be called outside of such contexts by providing the
      Injector within the third argument options object. In cases where an Observable doesn't emit synchronously, you
      can utilize the startWith operator to modify the initial emitted value, or alternatively specify an initialValue
      within the options object.
    </p>

    <h2>Usage</h2>
    <ul class="list-disc">
      <li>Combine multiple Signals</li>
      <li>Combine multiple Observables</li>
      <li>Combine multiple Signals and Observables</li>
      <li>Using initialValue param</li>
    </ul>
  </section>

  <section class="space-y-6">
    <h3>Basic Usage: combine the signals or observables</h3>
    <p>You have the flexibility to pass multiple signals or observables to the function.</p>
    <app-code-block [code]="basicCode" />

    <h3>Pass a RxJS pipe operator</h3>
    <p>
      You have the option to pass an RxJS pipe operator, which enables you to manipulate the emitted values as needed.
      This provides a flexible and powerful way to customize the behavior of the emitted data.
    </p>
    <app-code-block [code]="pipeCode" />

    <h3>Handle asynchronous code by <code>startWith</code> or <code>initialValue</code> option</h3>
    <p>
      To define the starting value of the resulting Signal and prevent potential errors with real async Observables, you
      can employ the initialValue parameter within the third argument options object. Alternatively, you can address
      this issue by utilizing the startWith operator within the pipe, ensuring that the Observable always begins with a
      specified initial value, as demonstrated below.
    </p>
    <app-code-block [code]="asyncCode" />

    <h3>Rare Usage: Pass a function, promise, Map, array</h3>
    <app-code-block [code]="rareCode" />

    <h3>Real Example: Get filtered data</h3>
    <p>
      In the "get users" request below, the response returns 9 users. We intend to display only the first 3 users. Any
      client-side filtering, sorting can use the same strategy.
    </p>
    <app-code-block [code]="realCode" />
    @if (usersState().loading) {
      <cll-spinner />
    }

    @if (usersState().error; as error) {
      <cll-alert [error]="error" />
    }

    @if (usersState().data; as users) {
      <div class="card-grid">
        @for (user of users; track user.id.value) {
          <app-user-card [user]="user" />
        }
      </div>
    }
  </section>
</cll-page-container>
