<clx-page-container [title]="'createAsyncState'" class="space-y-9">
  <section class="space-y-6">
    <p>
      Imagine you're tasked with building a user list in your UI. Traditionally, this might involve defining variables
      like loading, error, and users, then assigning values within your API subscribe method. However, as your page
      requires multiple API requests, managing multiple loading and error variables becomes challenging, leading to
      scattered variables throughout your component. This makes maintenance cumbersome and lacks cohesion with your
      subscribe method.
    </p>

    <p>
      The <code>createAsyncState</code> operator is a handy RxJS operator for simplifying the handling of asynchronous
      operations. It is meticulously crafted to encapsulate API responses within a standardized structure, streamlining
      the process of subscribing to observables. With this approach, integrating data seamlessly into HTML components
      becomes not only convenient but also ensures a more organized and maintainable codebase.
    </p>

    <p>
      This operator transforms an observable of type <code>T</code> into an observable of
      <code>AsyncState&lt;T&gt;</code>. The <code>AsyncState</code> object encapsulates the following key states:
    </p>

    <ul>
      <li><code>loading</code>: Indicates that the asynchronous operation is in progress.</li>
      <li><code>error</code>: Represents any encountered errors during the operation.</li>
      <li><code>data</code>: Holds the successful result of the operation.</li>
    </ul>

    <app-code-block [code]="asyncStateCode" />

    <p>
      The <code>createAsyncState</code> operator accepts an optional parameter,
      <code>observerOrNextForOrigin?: Partial&lt;TapObserver&lt;T&gt;&gt; | ((value: T) => void)</code>, the same type
      as RxJS <code>tap</code>. This allows you to pass callbacks for success and error scenarios if needed.
    </p>

    <app-code-block [code]="callbackCode" />

    <p>
      By using this operator, you can easily manage and respond to these different states in your application. The
      resulting observable emits <code>AsyncState</code> objects, allowing you to handle loading spinners, display error
      messages, and render content based on the received data.
    </p>
  </section>

  <section class="space-y-6">
    <h2>Example Code</h2>
    <app-code-block [code]="exampleCode" />
    <app-user-card-list />
  </section>
</clx-page-container>
