<div class="space-y-9 sm:p-10 relative">
  <section class="grid xl:grid-cols-2 sm:gap-10">
    <div class="space-y-3 max-w-[calc(100vw-48px)]">
      <h1 class="sm:!text-6xl leading-loose">ngx-lift</h1>
      <p class="sm:!text-3xl sm:!mt-16">Simplifying your <code>modern</code> Angular development experience</p>
      <p class="sm:!text-2xl">Supports Angular 17 and later versions</p>
      <app-code-block [code]="'npm install ngx-lift'" lang="shell" />
    </div>
    <!-- <ng-lottie [options]="options" /> -->
    <svg-icon class="flex-1" [src]="'./assets/ngx-lift-dark.svg'" [svgStyle]="{width: '100%'}" />
  </section>

  <section class="grid lg:grid-cols-3 gap-5">
    <app-tile-with-icon
      icon="⚒️"
      title="Utility First"
      description="A handy set of utilities to speed up your routine development"
    >
    </app-tile-with-icon>
    <app-tile-with-icon
      icon="📦"
      title="RxJS Operators"
      description="Simplify complex operations and promote cleaner, more maintainable code"
    >
    </app-tile-with-icon>
    <app-tile-with-icon icon="🚨" title="Signal Companion" description="A great complement to the Signals API">
    </app-tile-with-icon>
  </section>
</div>
