@if (usersState$ | async; as usersState) {
  <div>
    <button class="btn btn-primary" (click)="loadExample()" [clrLoading]="usersState.loading">
      Click to see UI behavior
    </button>
  </div>

  <div class="min-h-[286px] mt-6">
    @if (usersState.loading) {
      <clx-spinner />
    }

    @if (usersState.error; as error) {
      <clx-alert [error]="error" />
    }

    @if (usersState.data; as users) {
      <div class="card-grid">
        @for (user of users; track user.id.value) {
          <app-user-card [user]="user" />
        }
      </div>
    }
  </div>
}
