<cll-page-container title="Byte Converter" class="space-y-9">
  <p>
    The <code>ByteConverterPipe</code> is an Angular pipe designed for converting numeric values representing file sizes
    into a human-readable format. It includes functionality for unit conversion (BYTE, KB, MB, GB, TB) and supports
    internationalization (i18n) with translations for multiple languages.
  </p>

  <section class="space-y-6">
    <h2>Language Support</h2>
    <p>
      The pipe automatically adapts to the user's browser language. In the event that the browser language is not
      supported, English serves as the default language. If you encounter language-related issues or wish to contribute
      translations, please create an issue on GitHub.
    </p>
  </section>

  <section class="space-y-6">
    <h2>Usage</h2>
    <p>Below is an example demonstrating the usage of the ByteConverterPipe in English:</p>
    <app-code-block [code]="exampleCode" lang="html"></app-code-block>
  </section>
</cll-page-container>
