<clx-page-container title="Welcome to ngx-extension" class="space-y-9">
  <section>
    <p>
      This project <strong>ngx-extension</strong> has been crafted with the goal of enhancing and simplifying your
      Angular development experience. In the dynamic landscape of web development, Angular stands out as a robust
      framework, and <strong>ngx-extension</strong> complements it by offering a collection of utilities, operators,
      directives and components.
    </p>
  </section>

  <section>
    <h2>Key Objectives</h2>
    <p>
      ⚒️ <strong>Utility Enhancement:</strong>&nbsp;<strong>ngx-extension</strong> strives to provide a set of utilities
      that streamline common Angular development tasks. These utilities are designed to boost your productivity and
      efficiency.
    </p>
    <p>
      📦 <strong>Operator Support:</strong>&nbsp;The project includes a range of operators that can be seamlessly
      integrated into your Angular applications. These operators aim to simplify complex operations and promote cleaner,
      more maintainable code.
    </p>
    <p>
      🧩 <strong>Component Repository:</strong>&nbsp;<strong>ngx-extension</strong> comes bundled with a collection of
      reusable components. These components are crafted with best practices in mind, allowing you to effortlessly
      integrate them into your projects and focus on building outstanding user interfaces.
    </p>
  </section>

  <section>
    <h2>Why Choose ngx-extension?</h2>
    <p>
      <strong>Simplified Development:</strong> Our project is dedicated to simplifying the Angular development process,
      empowering developers to build robust applications with ease.
    </p>

    <p>
      <strong>Community-Driven:</strong> As an open-source project, we welcome contributions from the community. Join us
      in shaping the future of Angular development tools.
    </p>

    <p>
      <strong>Continuous Improvement:</strong> We are committed to continuous improvement and aim to adapt to the
      evolving needs of the Angular ecosystem. Your feedback and contributions are invaluable in this journey.
    </p>
  </section>

  <section class="space-y-6">
    <h2>Getting Started</h2>
    <h3>Installation</h3>
    <p>
      To use <strong>ngx-extension</strong> in your project, you can install it using your preferred package manager.
      For example, with npm:
    </p>
    <app-code-block [code]="'npm install ngx-extension'" lang="shell" />

    <h3>Explore Further</h3>
    <p>
      To explore the capabilities of <strong>ngx-extension</strong>, head over to our GitHub repository:
      <a href="https://github.com/wghglory/ngx-extension" target="_blank">https://github.com/wghglory/ngx-extension</a>.
      Clone the repository, check out the demos, and discover how <strong>ngx-extension</strong> can elevate your
      Angular development workflow.
    </p>
  </section>

  <section>
    <h2>Contributing</h2>
    <p>
      We welcome contributions to the <strong>ngx-extension</strong> library. If you encounter any issues, have feature
      requests, or would like to contribute code, please check out our contribution guidelines.
    </p>

    <h2>License</h2>
    <p><strong>ngx-extension</strong> is licensed under the MIT License.</p>

    <h2>Acknowledgments</h2>
    <p>
      Thank you for considering <strong>ngx-extension</strong> for your Angular projects. We look forward to your
      involvement and feedback as we collectively strive to enhance the Angular development experience.
    </p>

    <p>Happy coding!</p>
  </section>
</clx-page-container>
