<clx-page-container [title]="'dgState'" class="space-y-9">
  <section class="space-y-6">
    <p>
      When utilizing Clarity Datagrid filtering, we employ the <code>dgState</code> operator to manage the timing of API
      calls. This operator is designed to assess changes in the datagrid filters and intelligently handle API trigger
      events. If the filters undergo modification, the operator introduces a debounce of 500ms before initiating the API
      call. Conversely, for actions such as sorting or fetching the next page of data, the API call is made promptly
      without any delay.
    </p>

    <p>
      Additionally, the <code>dgState</code> operator offers an optional parameter of type boolean to control the use of
      the distinctUntilChanged operator internally. By default, this parameter is set to true. When enabled, it ensures
      that no API call is initiated if the datagrid state remains the same. For instance, if a user enters "a" in a
      filter input, then quickly types "aa," and finally reverts to "a," this parameter determines whether an API call
      should be made based on the exact datagrid state. If set to true (default), no API call is triggered for the same
      state. However, if set to false, another API call will be made even if the state remains unchanged.
    </p>
  </section>

  <section class="space-y-6">
    <h2>Example Code</h2>

    <p>Assume we have a API returning the below shape of data and we'd like to implement a server-driven datagrid.</p>
    <app-code-block [code]="dataCode" lang="json" />

    <app-code-block [code]="secondHtmlCode" lang="html" />
    <p>Another approach to use async pipe with *ngIf:</p>
    <app-code-block [code]="htmlCode" lang="html" />
    <app-code-block [code]="typescriptCode" />

    <clx-callout>
      You can click <a class="underline" [routerLink]="['/clr-lift/utilities/datagrid']">convertToHttpParams</a> to see
      the detail of this utility function.
    </clx-callout>
  </section>

  <section>
    <app-user-datagrid />
  </section>
</clx-page-container>
