<cll-page-container [title]="'logger'" class="space-y-9">
  <section class="space-y-6">
    <p>
      The <code>logger</code> operator is a utility function for RxJS observables, designed to simplify logging emitted
      values using different console functions. This operator is useful for debugging and monitoring the behavior of
      your observables.
    </p>
  </section>

  <section class="space-y-6">
    <h2>Example Code</h2>
    <app-code-block [code]="tsCode" />
  </section>
</cll-page-container>
