<clx-page-container [title]="'urlValidator & httpsValidator'" class="space-y-9">
  <section class="space-y-6">
    <h2>Overview</h2>
    <p>
      The <code>urlValidator</code> and <code>httpsValidator</code> functions are Angular validators used to check if a
      given string adheres to specific URL patterns. These validators can be utilized in Angular Reactive Forms to
      ensure the validity of user-entered URLs.
    </p>

    <h2>Usage</h2>
    <form [formGroup]="form" clrForm>
      <clr-input-container>
        <label>URL</label>
        <input clrInput formControlName="url" />
        <clr-control-helper>Provide a valid URL</clr-control-helper>
        <clr-control-error *ngIf="form.controls.url.hasError('required')">Required</clr-control-error>
        <clr-control-error *ngIf="form.controls.url.errors?.['invalidUrl']">
          Please enter a valid URL (starting with https or http)
        </clr-control-error>
      </clr-input-container>

      <clr-input-container>
        <label>Https-only URL</label>
        <input clrInput formControlName="https" />
        <clr-control-helper>Provide a https URL</clr-control-helper>
        <clr-control-error *clrIfError="'required'">Required</clr-control-error>
        <clr-control-error *clrIfError="'invalidUrl'"> Please enter a https URL </clr-control-error>
      </clr-input-container>
    </form>

    <app-code-block [code]="exampleCode"></app-code-block>
  </section>
</clx-page-container>
