<clx-page-container [title]="'Datagrid Utilities'" class="space-y-9">
  <section class="space-y-6">
    <p>
      The Clarity datagrid in Datagrid Utilities is designed to emit a state whenever a user interacts with pagination
      buttons, filters, or sorting options. To facilitate seamless integration with API requests, the Clarity datagrid
      state requires conversion into an object suitable for HttpParams. To streamline this process, we offer the
      <code>convertToHttpParams</code> function.
    </p>
    <p>
      The output of the <code>convertToHttpParams</code> function is a structured data model, ensuring compatibility
      with HttpParams for subsequent API requests. This model enhances the efficiency of data transmission and
      retrieval. Below is an overview of the data model returned by the <code>convertToHttpParams</code> function.
    </p>

    <app-code-block [code]="pageQueryModelCode" />
  </section>

  <section class="space-y-6">
    <p>
      Utilizing this function simplifies the conversion process, transforming the Clarity datagrid state presented in
      the below first block into the corresponding code in the second block effortlessly.
    </p>

    <div class="grid xl:grid-cols-2 gap-6">
      <app-code-block [code]="stateCode" />
      <app-code-block [code]="outputCode" />
    </div>
  </section>
</clx-page-container>
