<clx-page-container title="switchMapWithAsyncState" class="space-y-9">
  <p>
    Frequently, we find ourselves in situations where triggering an API request upon a user's button click is essential.
    But how do we seamlessly transition between streams? Enter the solution: <code>switchMapWithAsyncState</code>. This
    operator is tailor-made for such scenarios, effortlessly amalgamating the strengths of both the
    <code>switchMap</code> and <code>createAsyncState</code> operators. By creating an <code>AsyncState</code> structure
    to encapsulate your API response, this operator becomes a versatile powerhouse, delivering the combined
    functionalities of <code>switchMap</code> and <code>createAsyncState</code> in one. The result is a seamless and
    efficient approach to managing asynchronous operations.
  </p>

  <section class="space-y-6">
    <h2>Example Code</h2>
    <app-code-block [code]="exampleCode" />
    <app-filter-users />
  </section>
</clx-page-container>
